/* FOOTER GERAL DO SITE */
#footer-primary {
    background-color: var(--bg-primary);
    padding: 3% var(--pd-side) 0.10% var(--pd-side);
}

.footer-primary-item {
    width: 30%;
    margin: 2%;
}

#footer-primary p {
    font-size: var(--fs-default);
}

#footer-primary a:link, a:visited {
    color: var(--light-brown);
    text-decoration: none;
}

#footer-primary a:hover {
    color: var(--golden-orange);
    background: var(--white);
    text-decoration: none;
}