/* COFIGURACOES APLICAVEIS A QUALQUER PAGINA SO SITE */
.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section-button {
    padding: 0.80% 6%;
    border-radius: var(--bdr-primary);
    background-color: var(--light-brown);
    border: none;
    color: var(--white);
    font-size: va1(--fs-1);
}