.page-login .page-login-content {
    margin: auto;
    width: 30%;
    min-width: 360px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-login .esqueceu-senha {
    margin: 5px;
    text-align: right;
}

.page-login-content input {
    width: 100%;
    height: 35px;
}

.page-login-content label {
    font-size: 15px;
}

#footer-enter {
    margin: 2;
}

.page-login h2 {
    font-family: var(--ff-primary);
}