/* GERAL */
.section-primary {
    background-color: var(--bg-primary);
}

.section-secondary {
    background-color: var(--bg-secundary);
}

/* MAIN */
main {
    flex: 1;
}

/* CONFIGURACAO GERAL PARA TODAS AS SECOES */
section {
    padding-right: 25px;
    padding-left: 25px;
}

/* SECAO 01 - CAPA */
#section-01 {
    padding: 180px var(--pd-side) 180px var(--pd-side);
    text-align: center;
}

#section-01 p {
    padding: 20px;
}

#section-01 button {
    padding: 8px 70px;
    margin: 16px 0px 10px 0px;
    border-radius: var(--bdr-primary);
    background-color: var(--light-brown);
    border: none;
    color: var(--white);
    font-size: va1(--fs-1);
}

/* SECAO 02 - SAUDACOES */
#section-02 {
    padding: 100px var(--pd-side) 70px var(--pd-side);
    text-align: center;
}

#section-02 p {
    margin: 20px 0px;
}

/* SECAO 03 - NOSSOS SERVICOS */
#section-03 {
    padding: 100px var(--pd-side) 100px var(--pd-side);
}

/* SECAO 04 - CALL TO ACTION */
#section-04 {
    padding: 100px var(--pd-side) 100px var(--pd-side);
    text-align: center;
}

#section-04 p {
    padding: 20px;
}

#section-04 input {
    width: 40%;
    text-align: center;
}

#section-04 button {
    padding: 8px 70px;
    margin: 16px 0px 10px 0px;
    border-radius: var(--bdr-primary);
    background-color: var(--light-brown);
    border: none;
    color: var(--white);
    font-size: va1(--fs-1);
}

/* SECAO 05 - GALERIA */
#section-05 {
    padding: 100px var(--pd-side) 100px var(--pd-side);
}

/* SECAO 06 - ONDE ESTAMOS */
#section-06 {
    padding: 115px var(--pd-side) 75px var(--pd-side);
}

#section-07 {
    text-align: left;
}