/* VARIAVEIS GERAIS DE CORES E FONTES DO SITE */
:root {
    /* CORES */
    --bg-primary: #ffe5d9;
    --bg-secundary: #f5f5f5;

    --light-brown: #735c4f;
    --golden-orange: #a6610d;
    --golden-light: #ffbf01;
    --white: #fcfcfc;

    --ff-primary: 'PT Sans', sans-serif;
    /* 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    --ff-secondary: "Open Sans Condensed", sans-serif;
    --ff-tertiary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;

    /* FONTES */
    /* -4pt */
    --fs-default: 14px;
    /*10px*/
    --fs-0: 0.714em;
    /*14px*/
    --fs-1: 1em;
    /*18px*/
    --fs-2: 1.285em;
    /*22px*/
    --fs-3: 1.571em;
    /*26px*/
    --fs-4: 1.857em;
    /*30px*/
    --fs-5: 2.143em;

    /* ALINHAMENTOS */
    --pd-side: 180px;

    /* BOTOES */
    --bdr-primary: 5px;
}